<nav class="bg-dark vh-100">
  <div class="d-flex flex-column h-100">
    <div class="position-sticky pt-3">
      <div class="sidebar-header mb-4">
        <h5 class="text-center text-white mb-0 py-2">Technikon</h5>
      </div>
      <ul class="nav flex-column px-3">
        <li class="nav-item mb-2">
          <a class="nav-link active text-white" aria-current="page" routerLink="/owner-home" style="border-radius: .25rem;">
            <i class="bi bi-house-fill"></i>
            Home Page
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link text-white" routerLink="/owner-details" style="border-radius: .25rem;">
            <i class="bi bi-person-fill"></i>
             Account Details
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link text-white" routerLink="/owner-properties" style="border-radius: .25rem;">
            <i class="bi bi-building"></i>
           Properties
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link text-white" routerLink="/owner-repairs" style="border-radius: .25rem;">
            <i class="bi bi-wrench"></i>
           Repairs
          </a>
        </li>
      </ul>
    </div>

    <div class="mt-auto px-3 pb-3">
      <button class="btn btn-danger w-100" (click)="logout()" style="border-radius: .25rem;">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </div>
  </div>
</nav>
